@charset "UTF-8";
.red {
  color: red;
}

.avatar-img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比維持しつつトリミング */
  border-radius: 50%;
  margin: 0 auto;
}

.avatar-img-xs {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比維持しつつトリミング */
  border-radius: 50%;
  margin: 0 auto;
}

.profile-img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比維持しつつトリミング */
  border-radius: 50%;
}

.follow-img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比維持しつつトリミング */
  border-radius: 50%;
}

.bg-toy {
  background-image: url(../images/colorful-kids-toys.jpg);
  background-repeat: no-repeat;
  width: 700px;
  height: 500px;
}

.top-wrapper {
  background-image: url("colorful-kids-toys.jpg");
  background-size: cover;
  min-height: calc(100vh - 100px);
  position: relative;
  background-position: 50% 80%;
}
.top-wrapper .top-inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #0f0f01;
}
.top-wrapper .top-logo {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 150px;
}

@media screen and (max-width: 780px) {
  .top-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
  }
  .top-wrapper .top-inner-text {
    font-size: 0.875rem;
    top: 62%;
    left: 50%;
  }
  .top-wrapper .top-logo {
    top: 30%;
    left: 23%;
    width: 50px;
  }
}
.title {
  font-family: "Nico Moji";
}