<% toys.first(30).each do |toy| %>
  <div class="card card-compact bg-base-100 shadow-2xl my-4 w-7/12 mx-auto">
    <div class="block">
      <%= image_tag (toy['mediumImageUrls'][0]), class: "mx-auto my-4" %>
    </div>
    <%= toy.name %>
    <div class="block">
      <% toy_params = { itemName: toy['itemName'], itemUrl: toy['itemUrl'], mediumImageUrls: [toy['mediumImageUrls'][0]] } %>
      <%=  link_to '投稿する', new_post_path(toy: toy_params), class: "btn btn-primary my-2" %>
    </div>
  </div>
<% end %>