<div>
  <%= form_with url: toys_search_path, method: :get, local: true do |f|  %>
     <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
     <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
  <% end %>
</div>
  <h2>検索結果</h2>
  <% if @toys.present? %>
    <%= render "toy", toys: @toys %>
  <% end %>
</div>