<div class='top-wrapper pt-24 text-center'>
  <div class='text-center text-6xl font-bold'>
    <h2>おもちゃシティーへようこそ！！</h2>
  </div>
  <ul class="flex justify-center my-5">
    <li class="text-gray-700 text-center px-4 py-5 m-2 rounded">
      <%= link_to 'ログインする', login_path,  { class: "btn btn-primary" } %>
    </li>
    <li class="text-gray-700  px-4 py-5 m-2 rounded">
      <%= link_to '新規登録する', new_user_path, { class: "btn btn-primary" }%>
    </li>
  </ul>
  <button class=" hover: text-white rounded px-4 py-5 my-10">
    <%= link_to 'おもちゃを見にいく', posts_path, { class:"btn btn-outline btn-primary" } %>
  </button>
</div>

