<div class="navbar bg-accent">
  <div class="flex-1">
    <%= link_to 'おもちゃCITY', root_path, { class: "btn btn-ghost normal-case text-xl" } %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '記事一覧', posts_path, {class: "btn btn-ghost"} %></li>
      <li><%= link_to '新規登録', new_user_path, { class: "btn btn-ghost" } %></li>
      <li><%= link_to 'ログイン', login_path, { class: "btn btn-ghost" } %></li>
    </ul>
  </div>
</div>