<% if object.errors.any? %>
  <div id="error_messages" class="alert alert-error">
    <ul class="mb-0 block">
      <% object.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>