<footer class="footer footer-center p-4 border-t">
  <div>
    <div class="grid grid-flow-col gap-4 font-bold">
      <%= link_to '利用規約', terms_path %>
      <%= link_to 'プライバシーポリシー', privacy_path %>
      <%= link_to 'お問い合わせ', 'https://forms.gle/PsvigMAs1RfJiDLP7', target: '_blank', rel: 'noopener noreferrer' %>
    </div>
    <p class="text-xs">Copyright © 2022 - All right reserved by おもちゃシティー</p>
  </div>
  <div>
</footer>