<footer class="footer footer-center p-4 border-t">
  <div>
    <div class="grid grid-flow-col gap-4 font-bold">
      <a href="#">利用規約</a>
      <%= link_to 'プライバシーポリシー', privacy_path %>
      <a href="#">お問い合わせ</a>
    </div>
    <p class="text-xs">Copyright © 2022 - All right reserved by おもちゃシティー</p>
  </div>
  <div>
</footer>