<div id="favorite_button_<%= post.id %>">
  <% if current_user.favorite?(post) %>
    <%= render 'favorites/unfavorite', { post: post } %>
  <% else %>
    <%= render 'favorites/favorite', { post: post } %>
  <% end %>
</div>