<% content_for(:title, t('.title')) %>
<div class="container flex flex-wrap justify-around my-4">
  <% if @favorite_posts.present? %>
    <%= render @favorite_posts %>
  <% else %>
    <p>お気に入りしているおもちゃはありません</p>
  <% end %>
</div>
<div class="flex justify-center text-4xl">
  <%= paginate @favorite_posts %>
</div>