<% content_for(:title, t('.title')) %>
<h1 class="text-3xl text-center my-5 font-bold"><%= current_user.name %> さん  レビュー一覧</h1>
<div class="container flex flex-wrap justify-around my-4">
  <% @myselfs.each do |post| %>
    <%= render 'posts/post', { post: post } %>
  <% end %>
</div>
<div class="flex justify-center text-4xl">
  <%= paginate @myselfs %>
</div>