// Sassy
.red {
  color: red;
}

.avatar-img {
    width: 80px;
    height: 80px;
    object-fit: cover; /* 縦横比維持しつつトリミング */
    border-radius: 50%;
  }
  
  .profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* 縦横比維持しつつトリミング */
  border-radius: 50%;

}